<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LPEngine iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>low_poly_engine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D76CBACE1F46716700D51490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D76CBAE41F46716700D51490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D76CBAEF1F46716700D51490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7EE83221F5E3A9C0087E010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7EE833A1F5E3A9C0087E010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7EE83451F5E3A9C0087E010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
